/* THIS IS TO PREVENT THIS COMPONENT FROM SCROLLING WHEN THIS WINDOW IS RENDERED */
.projects-admin {
    overflow: scroll;
}
/* ------- */

.tags-window {
    z-index: 15;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.71);
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.tags-window .window-container {
    max-width: 350px;
    width: 100%;
    height: fit-content;
    background: rgb(233, 233, 233);
    border-radius: 16px;
    padding: 16px 36px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    animation: entry 0.3s ease;
}

.tags-window .window-container h2 {
    text-align: center;
}

.tags-window form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags-window form input {
    display: block;
    width: 70%;
    margin: 18px 0;
    padding: 8px;
}

.tags-window form .add-btn {
    cursor: pointer;
    padding: 0 8px;
    width: fit-content;
    height: 40px;
    color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: rgb(29, 181, 29);
}

.tags-window .add-btn:hover {
    background: rgb(25, 162, 25);
    border-radius: 0;
}

.tags-window .tags-container {
    margin-bottom: 12px;
}

.tags-window .window-container .actions-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.tags-window .window-container .actions-container .btn {
    cursor: pointer;
    width: 100px;
    height: 45px;
    border-radius: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags-window .window-container .actions-container .btn:last-of-type {
    background: rgb(29, 181, 29);
}

.tags-window .window-container .actions-container .btn:first-of-type {
    background: rgb(200, 19, 19);
}

.tags-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    margin: auto;
}

.tags-container .static-tag {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 16px;
}

.tags-container .static-tag i {
    margin-left: 6px;
    cursor: pointer;
    color: rgb(200, 19, 19);
}

@keyframes entry {
    0% {
        transform: scale(0%);
    }
    100% {
        transform: scale(100%);
    }
}

@media only screen and (max-width: 768px) {
    .delete-window .window-container {
        width: 80%;
    }
}