.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: var(--color-primary);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
}

.navbar ul:first-of-type {
    font-weight: 700;
}

.navbar ul li {
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
}

.navbar ul li:last-of-type:hover {
    font-weight: 700;
}

.navbar ul a {
    text-decoration: none;
    color: white;
}