.sidebar {
    z-index: 10;
    padding: 0px;
    background: var(--color-primary);
    color: white;
    height: 100vh;
    width: 100%;
    max-width: 250px;
    transform: translateX(-200%);
    width: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.sidebar.expanded {
    padding: 16px;
    transform: translateX(0%);
    width: 100%;
}

.sidebar .hamb-menu {
    cursor: pointer;
    color: var(--color-primary);
    position: absolute;
    top: 16px;
    left: 16px;
    transition: all 0.3s ease;
}

.sidebar .hamb-menu:hover {
    transform: rotate(0.25turn);
}

.sidebar .hamb-menu:active {
    transform: scale(90%) rotate(0.25turn);
}

.sidebar.expanded .hamb-menu {
    color: white;
}

.sidebar h3 {
    margin-top: 36px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar h3:hover {
    transform: translateX(5%);
}

.sidebar h3:first-of-type {
    margin-top: 72px;
}

.sidebar h3:last-of-type {
    position: absolute;
    bottom: 16px;
}

.sidebar a {
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 1199px) {
    .sidebar {
        position: absolute;
        max-width: initial;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 18px;
        height: 100vh;
    }

    .sidebar h3:first-of-type {
        margin-top: initial;
    }

    .sidebar h3:last-of-type {
        position: initial;
    }
}


@media only screen and (max-height: 550px) {
    .sidebar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
}
