/* THIS IS TO PREVENT THIS COMPONENT FROM SCROLLING WHEN THIS WINDOW IS RENDERED */
.projects-admin {
    /* overflow: hidden; */
}
/* ------- */

.create-project-window.create-window {
    z-index: 15;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.71);
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.create-project-window.create-window .window-container {
    width: 80%;
    max-width: 900px;
    height: 450px;
    background: rgb(233, 233, 233);
    border-radius: 16px;
    padding: 16px 36px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    animation: entry 0.3s ease;
}