/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --color-title: #4F4F4F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Montserrat', sans-serif;
    
}

body {
    background: #F2F2F2;
}

p {
    font-weight: 500;
    color: #828282;
    font-size: 18px;
}

.title {
    color: var(--color-title);
    font-size: 24px;
}
