.profile-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    max-width: 1480px;
}

.profile-container .image-container {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    width: 30%;
}

.profile-container .image-container img {
    width: 100%;
    max-width: 250px;
    border-radius: 16px;
}

.profile-container .text-container {
    width: 60%;
}

.profile-container .info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 12px;
}

.profile-container .info-container h2 {
    font-weight: 600;
}

.profile-container .info-container a {
    text-decoration: none;
    color: var(--color-title);
    font-weight: 500;
    justify-self: end;
}

.profile-container .info-container i {
    margin-right: 4px;
}

.profile-container .desc-container {
    margin-top: 28px;
}

@media only screen and (max-width: 960px) {
    .profile-container .info-container i {
        margin-right: 1px;
    }
}

@media only screen and (max-width: 768px) {
    .profile-container {
        flex-flow: column nowrap;
        align-items: center;
    }

    .profile-container .image-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
    }

    .profile-container .text-container {
        width: 100%;
        margin-top: 16px;
    }

    .profile-container .info-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .profile-container .info-container a {
        order: 2;
        justify-self: initial;
    }
}